$backgroundColor: #FFFCFF;
$textColor: #070707;
$standardColor: #3454D1;
$correctColor: #1B998B;
$errorColor: #D1345B;

$standardBoxPadding: 2rem;

@import "common/reset";
@import "common/common";
@import "common/imageUploader/imageUploader";
@import "components/login/login";
@import "components/suggestions/suggestions";
@import "components/message/message";